*{
    margin: 0px;
    padding: 0px;
}
.Background{
    height: 100%;
    width: 100%;
    float: left;
}
.topbar{
    height: 50px;
    width: 100%;
    float: left;
    position: sticky;
    top: 0px;
    background-color: white;
}
.logo{
    height: 100%;
    width: 15%;
    float: left;
}
.imagelogo{
    height: 100%;
    width: 40%;
    float: left;
}
.imagelogo img{
height: 70%;
width: 50%;
margin-top: 5%;
float: right;
}
.logoname{
    height: 100%;
    width: 60%;
    float: left;
}
.menu{
    height: 100%;
    width: 75%;
    float: left;
}
.menu ul{
    height: 100%;
    width: 100%;
    float: left;
}
.menu ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(109,109,109);
}
.help{
    height: 100%;
    width: 10%;
    float: left;
}
.iconssearch{
   height: 100%;
   width: 33.33%;
   float: left; 
   text-align: center;
}
.iconssearch i{
    font-size: 20px;
    margin-top: 15px;
}
.emailframe{
    height: 60%;
    width:60%;
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    margin: 7px;
    background-image: url("https://www.bergwelten.com/files/article/images/berge-natur.jpg");
    background-size: 100% 100%;
}
.emptyspace{
    height: 100%;
    width: 10%;
    float: left;
    background-color: white;
}
.optionmenu{
    height: 100px;
    width: 90%;
    float: left;
}
.optionmenu ul li button{
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    background-color: white;
}
.optionmenu ul li{
    list-style-type: none;
    display: inline-block;
}
.topchart{
    height: 40px;
    width: 90%;
    float: left;
}
.topchart p{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    font-size: 20px;
}
.optmenu2{
    height: 60px;
    width: 90%;
    float: left;
}
.optmenu2 li{
    list-style-type: none;
    display: inline-block;
}
.optmenu2 button{
    height: 30px;
    width: 110px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
}
.optmenu2 a{
    text-decoration: none;
    color: black;
}
.Appscontainer{
    height: 300px;
    width: 90%;
    float: left;
}
.container1{
    height: 33.33%;
    width: 100%;
    float: left;
}
.apps{
    height:100%;
    width: 33.33%;
    float: left;
}
.num{
    height: 100%;
    width: 10%;
    float: left;
    background-color: white;
    text-align: center;
}
.num p{
    font-size: 20px;
    margin-top: 30px;
}
.appico{
    height: 80%;
    width: 20%;
    float: left;
}
.appico img{
    height: 100%;
    width: 100%;
}
.appinfo{
    height: 80%;
    width: 40%;
    float: left;
}
.appinfo p{
    margin-left: 10px;
}